<app-header></app-header>
<body>
	
				<div class="title">
					<h1>About </h1>
				</div>
				<div class="content">
					<h3>Pollution Check App helps to see the Air Quality Index</h3>
					<p>Objective of the Pollution Check App is to provide the Air Quality Index of each city  of different states of different countries.
						It can be known with the help of Air Quality Index that what is the pollution level of that particular city 
						and  will also provide  information  about  the pressure, humidity level,temperature and wind speed.
						</p>
						<p>If air quality index values  at or below 100 - it is good and satisfactory </p>
						<p> If air quality index values  are above 100 - it is Hazardous and unhealthy </p>
						<p> The higher the AQI value,the greater the level of air pollution and the greater health concern</p>
                         <p>This Application can help schedule your activities and to have minimal effect on your health</p>
						 <p>we are here to make the things easier and safe for you</p>
				
				</div>
			
			

	
</body>
