h1 {
    width:500px;
    margin: 0 auto;
    background: rgba(175, 5, 175, 0.219);
    text-align: center;
}
header{
    position: relative;
    background: white;
    padding: 0;
    border-bottom: 2px solid #e72929;
  }
  a{
    color: #af138d;
    text-decoration: none;
  }
