header{
    position: relative;
    background: white;
    padding: 0;
    border-bottom: 1px solid #e72929;
  }
  
  a{
    color: #af1313;
    text-decoration: none;
  }
  
  a:hover{
    background:#e72929;
    color: white;
    cursor: pointer;
  }
  
  .container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  #bg{
    position: fixed;
    top: -100%;
    left: -100;
    width: 200%;
    height: 200%;
  }
  #bg img{
    position: absolute;
    top: 30;
    left: 0;
    right: 70;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height:50%;
  }
  
  a.logo{
    font-weight: bold;
    padding: 1rem;
  }
  
  ul{
    display: flex;
    list-style-type: none;
    margin: 0;
  }
  
  ul a{
    padding: 1rem;
    display: inline-block;
  }
  
  a span{
    background: #ff4d4d;
    color: white;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size:0.9rem;
  }
  
  .menu-container{
    position: relative;
  }
  
  .menu{
    position:absolute;
    z-index:1;
    background:whitesmoke;
    display: none;
  }
  
  .menu-container:hover .menu{
    display: block;
  }
  
  .menu a{
    width: 100%;
    min-width:8rem;
  }
  
.joinnow
{
    background-color: rgb(246, 82, 82);
    padding: 225px 200px;
}
.login
{
    background-color: #fff;
    padding: 20px 30px;
}

@media screen and (max-width:600px)
{

    .joinnow
{
    padding: 140px 30px;
}
}