
<header>
    <div class="container">
      <a routerLink="/" class="logo">Pollution Check</a>
      <nav>
        <ul>
          <li>
            <a routerLink="/about">About</a>
            <a routerLink="/logout">Logout</a>       
            <a routerLink="/tips">Control Pollution</a>
            <a class="nav-link" routerLink="/dashboard" >Dashboard </a>
             <a routerLink="/watch">Favourite List</a> 
             

          </li>     
        </ul>
      </nav>
    </div>
  </header>
  

